*~
\#*\#
*.swp
.deps/
.libs/
Gpgme-1.0.gir
Gpgme-1.0.typelib
gd.gresource.xml
gd-resources.*
gpgme-glib-enumtypes.c
gpgme-glib-enumtypes.h
Makefile
Makefile.in
gpgme-glib-1.0.vapi
*.lo
*.o
*.la
.dirstamp
