.big-label {
    font-size: 4em;
    font-weight: bold;
}

.password-list-heading {
    padding: 10px 10px;
}

.password-list-modified {
    padding: 10px 10px;
}

.password-list-details {
    padding: 6px 6px;
}

.password-list-account {
    font-size: x-small;
}

.key-list-heading {
    padding: 10px 10px;
}

.key-list-type {
    padding: 10px 10px;
}

.banner {
    color: @insensitive_fg_color;
}

.banner-label {
    padding: 10pt;
    font-size: x-large;
}

.secondary-label {
    font-size: x-small;
}
